@media screen and (max-width: 1024px) {
  main {
    margin-top: 20px; }
    main .main-title {
      flex: 0 60%; }
    main .main-img {
      flex: 0 45%; }
    main h1 {
      font-size: 2.5rem; }

  nav ul li {
    margin-left: 10px;
    margin-right: 10px; }

  footer {
    margin-bottom: 20px; } }
@media screen and (max-width: 940px) {
  .container {
    padding-left: 5%;
    padding-right: 5%; }

  .trial {
    padding: 14px 20px; } }
@media screen and (max-width: 780px) {
  .trial {
    padding: 14px 20px;
    font-size: 14px; }

  nav {
    font-size: 14px; } }
@media screen and (max-width: 760px) {
  main h1 {
    font-size: 2rem; }

  .trial {
    padding: 10px 17px;
    font-size: 14px; }

  nav ul li {
    margin-left: 7px;
    margin-right: 7px; }

  footer {
    margin-bottom: 80px; } }
@media screen and (max-width: 720px) {
  #sign {
    margin-right: 10px; }

  .nav-login .trial {
    padding: 10px 12px; } }
@media screen and (max-width: 700px) {
  nav ul li {
    margin-left: 20px;
    margin-right: 20px; }

  nav {
    height: 150px; } }
@media screen and (max-width: 700px) {
  .container {
    padding-left: 4%;
    padding-right: 4%; }

  .nav-login {
    position: absolute;
    top: 0;
    right: -999px;
    width: 50vw;
    background: #f3ede5;
    height: 100%;
    opacity: 0.9;
    box-shadow: #f6b300 -4px 6px 20px 2px;
    text-align: center;
    padding-top: 31px; }

  .nav-login-active {
    right: 0;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

  .fade {
    -webkit-animation: fade 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: fade 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

  main {
    flex: 1 90%; }
    main h1 {
      font-size: 2.3rem; }

  footer {
    flex: 0 10%; } }
@media screen and (max-width: 600px) {
  .footer-sponsor {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 15%; } }
@media screen and (max-width: 580px) {
  main {
    justify-content: center; }
    main .main-title {
      flex: 0 90%; }

  .nav-links {
    position: absolute;
    right: -999px;
    top: 64px;
    font-size: 1.5rem;
    z-index: 5;
    opacity: 0.9;
    padding-top: 31px;
    width: 50vw;
    text-align: center; }

  nav ul {
    display: block; }

  nav ul li {
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px; }

  .nav-links-active {
    -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    right: 0; }

  .card {
    flex-direction: row;
    margin: 20px;
    gap: 5px; }

  .card-title {
    flex-direction: column;
    gap: 5px; }

  .products {
    position: absolute;
    top: 20px;
    left: -40px;
    width: 430px;
    border-radius: 15px;
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
    .products:after {
      content: "";
      position: absolute;
      top: -11px;
      left: 15%;
      width: 0;
      height: 0;
      border: 8px solid transparent;
      border-top: 0; }
    .products:before {
      content: "";
      position: absolute;
      top: -20px;
      left: 0;
      width: 100%;
      height: 29px; } }

/*# sourceMappingURL=main-media.css.map */
